<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TLScope</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">


    <style>

    </style>
</head>

<body>
    <div class="sidebar">
        <div class="rectangle-502"></div>
        <div class="bg"></div>
        <img class="logo" src="/static/logo.png" />
        <div class="general">
            <div class="tab1">
                <img class="icon-element-3" src="/static/icon1.png" />
                <a href="dashboard.html" class="dashboard_text">Dashboard</a>
            </div>
            <div class="tab2">
                <img class="icon-presention-chart" src="/static/icon2.png" />
                <a href="index.html" class="statistic_text">Statistic</a>
            </div>
        </div>            
    </div>

    <div class="container">
        <div class="header">
            <div class="dashboard">Dashboard</div>
        </div>
        
        <div class="content">
            <div class="packet-title">실시간 Packet List</div>
            <div class="packet-container">
                <ul id="packet-list"></ul>
            </div>

            <div class="flow-title">Packet Chart & Flow</div>
            <div class="chart-container">
                <canvas id="trafficChart" class="chart"></canvas>
                <canvas id="appChart" class="chart"></canvas>
            </div>

            <div class="packet-flow">
                <img id="graph-image" src="/static/flow_graph.png" style="background-color: white; width: 100%; height: auto;"onerror="this.style.display='none';"> 
            </div>
            
        </div>
        <div class="preds-title">SSL/TLS 트래픽 가시화 결과</div>
        <div class="preds">            
            <ul id="prediction-list"></ul>
        </div>
    </div>
</body>
    
<script>
    // Socket.IO 클라이언트 사용해서 서버와 실시간 연결
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // 자동 스크롤 활성화 여부 플래그
    var autoScrollEnabled = true;

    function smoothScrollTo(container, targetScrollTop, duration) {
    var startScrollTop = container.scrollTop;
    var distance = targetScrollTop - startScrollTop;
    var startTime = null;

        function scrollStep(timestamp) {
            if (!startTime) startTime = timestamp;
            var progress = timestamp - startTime;
            var percent = Math.min(progress / duration, 1);
            
            container.scrollTop = startScrollTop + distance * percent;

            if (percent < 1) {
                window.requestAnimationFrame(scrollStep);
            }
        }

        window.requestAnimationFrame(scrollStep);
    }

    socket.on('new_packet', function(packet) {
        var packetList = document.getElementById('packet-list');
        var listItem = document.createElement('li');
        listItem.innerHTML = 'Src: ' + packet.src_ip + ' -> Dst: ' + packet.dst_ip + '<br> ' + packet.summary + '<br>';
        packetList.appendChild(listItem);

        // 패킷 추가 후 일정한 속도로 자동 스크롤 >> 이 안 되는 것 같은데
        setTimeout(function() {
            if (autoScrollEnabled) {
                    var packetListContainer = document.querySelector('.packet-container');
                    smoothScrollTo(packetListContainer, packetListContainer.scrollHeight, 2000); // 500ms 동안 부드럽게 스크롤
            }
        }, 100);
    });

    // 모델 예측 결과 수신 이벤트 처리
    socket.on('new_prediction', function(data) {
        var predictionList = document.getElementById('prediction-list');
        var listItem = document.createElement('li');
        listItem.innerHTML = 'Start Time: '+ data['start_time']+' ~ '+ 
                            'End Time: ' + data['end_time'] + '&nbsp' + '->' + '&nbsp' +
                            'Traffic ID: ' + data['Traffic ID'] + '&nbsp' + '|' + '&nbsp' +
                             'APP ID: ' + data['APP ID'];
        predictionList.appendChild(listItem);

        // 패킷 추가 후 일정한 속도로 자동 스크롤 >> 이 안 되는 것 같은데
        setTimeout(function() {
            if (autoScrollEnabled) {
                    var packetListContainer = document.querySelector('preds');
                    smoothScrollTo(packetListContainer, packetListContainer.scrollHeight, 500); // 500ms 동안 부드럽게 스크롤
            }
        }, 100);

        
    });

    // 그래프 자동 갱신
    function updateGraph() {
        $.post('/stream/packet_flow', function(response) {
            if (response.status === 'success') {
                // 그래프 이미지 업데이트
                var graphImage = document.getElementById('graph-image');
                graphImage.src = response.image_path; // 이미지 경로 업데이트
                graphImage.style.display = 'block'; // 이미지 보이기
            } else {
                console.error(response.message);
            }
        });
    }

    // 주기적으로 그래프 업데이트 (60초마다)
    setInterval(updateGraph, 60000);

    // 소켓 이벤트 리스너 - 서버에서 그래프 갱신 이벤트 수신
    socket.on('new_graph', function(data) {
        document.getElementById('graph-image').src = '/static/flow_graph.png?' + new Date().getTime(); // 캐시 방지
        document.getElementById('graph-image').style.display = 'block'; // 이미지 보이기
    });

     // 차트 초기화
    const trafficData = {
        labels: ['CHAT', 'VOIP', 'STREAMING'],
        datasets: [{
            data: [0, 0, 0], // 초기값
            backgroundColor: ['#675aff', '#4b54e0', '#3246c7']
        }]
    };

    const appData = {
        labels: ['facebook', 'discord', 'skype', 'line', 'youtube'],
        datasets: [{
            data: [0, 0, 0, 0, 0], // 초기값
            backgroundColor: ['#a5b3ff', '#675aff', '#4b54e0', '#3d57d7', '#3246c7']
        }]
    };

    const ctxTraffic = document.getElementById('trafficChart').getContext('2d');
    const trafficChart = new Chart(ctxTraffic, {
        type: 'pie',
        data: trafficData,
        options: {
            responsive: true,
            maintainAspectRatio: false, // 비율 유지하지 않도록 설정
            plugins: {
                legend: {
                    display: true, // 레전드 표시
                    position: 'bottom', // 레전드를 하단으로 설정
                    align: 'center', // 레전드를 왼쪽으로 정렬
                    labels: {
                        boxWidth: 10, // 박스 너비 조정
                        padding: 10, // 패딩 조정
                    }
                }
            }
        }
    });

    const ctxApp = document.getElementById('appChart').getContext('2d');
    const appChart = new Chart(ctxApp, {
        type: 'pie',
        data: appData,
        options: {
            responsive: true,
            maintainAspectRatio: false, // 비율 유지하지 않도록 설정
            plugins: {
                legend: {
                    display: true, // 레전드 표시
                    position: 'bottom', // 레전드를 하단으로 설정
                    align: 'center', // 레전드를 왼쪽으로 정렬
                    labels: {
                        boxWidth: 10, // 박스 너비 조정
                        padding: 10, // 패딩 조정
                    }
                }
            }
        }
    });

    function updateCharts() {
        fetch('/stream/pie_rate')
            .then(response => response.json())
            .then(data => {
                console.log(data) //데이터 수신 확인하려고

                // 트래픽 차트 업데이트
                trafficChart.data.datasets[0].data = [
                    data.traffic_ratios.CHAT,
                    data.traffic_ratios.VOIP,
                    data.traffic_ratios.STREAMING
                ];
                trafficChart.update();

                // 애플리케이션 차트 업데이트
                appChart.data.datasets[0].data = [
                    data.app_ratios.facebook,
                    data.app_ratios.discord,
                    data.app_ratios.skype,
                    data.app_ratios.line,
                    data.app_ratios.youtube
                ];
                appChart.update();
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    // 페이지 로드 시 차트 업데이트
    setInterval(updateCharts,30000); //30초마다 업데이트

    updateCharts();

</script>

</body>
</html>
